<section>
    <div class="container">
      <div class="row justify-content-between py-2">
        <div class="col-12 d-flex justify-content-end mb-3">
            <a class="btn btn-secondary" [routerLink]="['/clients', 'add']">Add Client</a>
        </div>
        <div *ngIf="isLoading" class="col-12">
          <p>Loading...</p>
        </div>
        <!-- <div *ngIf="!isLoading"> -->
          <div *ngFor="let client of clients" class="col-12 mb-4 card">
            <div class="d-flex align-items-baseline justify-content-between card-body">
                <h3 class="d-flex justify-content-between">
                    <span>Client Name: {{ client.name }}</span>
                </h3>
                <h5 class="text-primary mx-5">Client Age: {{ (client.age) ? client.age : 'not provided' }}</h5>
                <button [routerLink]="['/clients', 'edit', client.id]" class="btn btn-info">
                    Edit
                </button>
            </div>
            <span class="text-danger mb-3">Children: </span>
            <ul>
              <li class="d-flex align-items-center" *ngFor="let child of client.children">
                <span> Child Name: {{ child.name }} </span>
                <span class="ms-4">Child Age: {{ child.age }}</span>
              </li>
            </ul>
          </div>
        <!-- </div> -->
      </div>
    </div>
  </section>
  