app-root {
    display: flex;
    flex-direction: column;

    .app-wrapper {
        height: 100vh;
        display: flex;
        flex-direction: column;
    }

    app-footer {
        margin-top: auto;

        footer {
            height: 56px;
        }
    }
}